{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Últimas ejecuciones</title>
    <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles_navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles_executions.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">NOMBRE</a>
        <div id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Inicio</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link active" href="{% url 'executions' %}">Últimas ejecuciones</a>
                </li>
            </ul>
        </div>
        <a class="conf-container" href="{% url 'configuration' %}">
            <img src="{% static 'config.png' %}" height="30" />
        </a>
    </nav>
    <main>
        <div class="container">
            <div class="row margintop">

                {% for card in cards %}
                <div class="col-4">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10 card">
                            <div class="row">
                                <div class="col-12">
                                    <h2>{{ card.name }}</h2>
                                    <p>Fecha de ejecución: {{ card.date }}</p>
                                    <p>Hora: {{ card.hour }}</p>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-12 col-xl-6">
                                            <button type="button" class="blueButton"
                                                onclick="window.location.href='/p3co/executions/' + '{{ card.execution_unique_name }}'">Detalles
                                                ejecución</button>
                                        </div>
                                        <div class="col-12 col-xl-6">
                                            <button type="button" class="redButton"
                                                onclick="window.location.href='/p3co/executions/delete/' + '{{ card.execution_unique_name }}'">Eliminar
                                                ejecución</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1"></div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </main>
    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>