{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Últimas ejecuciones</title>
    <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles_navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles_execution.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@latest/dist/Chart.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
        <a class="navbar-brand">P-3CO</a>
        <div id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Inicio</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link active" href="{% url 'executions' %}">Últimas ejecuciones</a>
                </li>
            </ul>
        </div>
        <a class="conf-container" href="{% url 'configuration' %}">
            <img src="{% static 'config.png' %}" height="30" />
        </a>
    </nav>
    <main class="margintop">
        <h2>{{ exec_name }}</h2>
        <hr />
        <h4>Descarga de datos</h4>
        <a class="downloadLink" href="{% url 'datafiles' execution_unique_name=execution_unique_name %}">
            <div class="downloadButton">
                Descargar archivos generados
            </div>
        </a>
        <hr />
        <h4>Datos de la ejecución</h4>
        <ul>
            <li>
                <p>Nombre: {{ exec_name }}</p>
            </li>
            <li>
                <p>Instancias: {% for i in instance_types %}{{ i }}{% endfor %}</p>
            </li>
            <li>
                <p>Repeticiones por cada configuración de hilos: {{ reps }}</p>
            </li>
            <li>
                <p>Email de notificación: {{ email }}</p>
            </li>
            <li>
                <p>Librerías utilizadas: {{ libs }}</p>
            </li>
            <li>
                <p>Fecha de lanzamiento de la prueba: {{ date }}</p>
            </li>
            <li>
                <p>Hora de lanzamiento de la prueba: {{ hour }}</p>
            </li>
        </ul>
        <hr />
        <h4>Gráficas</h4>
        <p>
            La siguiente gráfica muestra los tiempos de ejecución y de ejecución + instalación del software. Además, se muestra el intervalo de confianza al 95% en ambas medidas.
        </p>
        <canvas id="times"></canvas>
        <p>
            La siguiente gráfica muestra los costes de ejecución y de la ejecución + instalación del software.
        </p>
        <canvas id="costs"></canvas>

    </main>

    <script>
        function calculateMean(array) {
            let sum = 0;
            for (var i = 0; i < array.length; i++) {
                sum += array[i];
            }
            console.log('Media:', sum);
            var output = sum / array.length;
            return output;
        }

        function calculateAllMean(data) {
            let output = [];
            for (var key in data) {
                if (data.hasOwnProperty(key) && Array.isArray(data[key])) {
                    output.push(calculateMean(data[key]));
                }
            }
            return output;
        }

        function addExecInstallTime(data, install){
            let sum = {}
            for (var key in data) {
                let aux = []
                for (let i = 0; i < data[key].length; i++) {
                    aux.push(data[key][i] + install[key][0]);
                    console.log(data[key][i]);
                    console.log(install[key][0]);
                    console.log(aux);
                }
                sum[key] = aux;
            }
            return sum;
        }

        function calculateTypicalDeviation(array, mean) {
            let squaredDifferencesSum = 0;
            for (var j = 0; j < array.length; j++) {
                squaredDifferencesSum += Math.pow(array[j] - mean, 2);
            }
            let standardDeviation = Math.sqrt(squaredDifferencesSum / array.length);
            return standardDeviation;
        }

        function calculateInterval(data, mean) {
            let output = {
                upperBound: [],
                lowerBound: []
            }
            let index = 0;
            for (var key in data) {
                if (data.hasOwnProperty(key) && Array.isArray(data[key])) {
                    let typicalDev = calculateTypicalDeviation(data[key], mean[index]);
                    var marginOfError = 1.96 * (typicalDev / Math.sqrt(data[key].length));
                    output.upperBound.push(mean[index] + marginOfError);
                    output.lowerBound.push(mean[index] - marginOfError);
                }
                index++;
            }
            return output;            
        }

        function fetchAndCreateChartTimes() {
            const instance_name = "{{ execution_unique_name }}";
            return fetch('/p3co/data/times/' + instance_name)
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`No se pudo obtener los datos para el hilo: ${instance_name}`);
                    }
                    return response.json();
                })
                .then(response => {
                    const threads = response.threads;
                    const exec_mean = calculateAllMean(response.data);
                    const interval_exec = calculateInterval(response.data, exec_mean);
                    const sum = addExecInstallTime(response.data, response.install);
                    const exec_install_mean = calculateAllMean(sum);
                    const interval_exec_install = calculateInterval(sum, exec_install_mean);
                    const execution = {
                        label: "Tiempo medio de ejecución",
                        data: exec_mean,
                        borderColor: 'rgba(54, 162, 235)',
                        borderWidth: 2,
                        pointRadius: 5,
                        fill: false,
                        tension: 0,
                    };

                    const install_exec = {
                        label: "Tiempo medio de ejecución e instalación",
                        data: exec_install_mean,
                        borderColor: 'rgba(255, 162, 235)',
                        borderWidth: 2,
                        pointRadius: 5,
                        fill: false,
                        tension: 0,
                    };

                    const upperBound_exec = {
                        label: "Tiempo medio de ejecución (límite superior) intervalo de confianza al 95%",
                        data: interval_exec.upperBound,
                        borderColor: 'rgb(54,235,218)',
                        borderWidth: 2,
                        fill: false,
                        tension: 0,
                        pointHoverRadius: 0,
                    };

                    const lowerBound_exec = {
                        label: "Tiempo medio de ejecución (límite inferior) intervalo de confianza al 95%",
                        data: interval_exec.lowerBound,
                        borderColor: 'rgb(54,235,218)',
                        borderWidth: 2,
                        fill: false,
                        tension: 0,
                        pointHoverRadius: 0,
                    };

                    const upperBound_exec_install = {
                        label: "Tiempo medio de ejecución e instalación (límite superior) intervalo de confianza al 95%",
                        data: interval_exec_install.upperBound,
                        borderColor: 'rgb(255,180,180)',
                        borderWidth: 2,
                        fill: false,
                        tension: 0,
                        pointHoverRadius: 0,
                    };

                    const lowerBound_exec_install = {
                        label: "Tiempo medio de ejecución e instalación (límite inferior) intervalo de confianza al 95%",
                        data: interval_exec_install.lowerBound,
                        borderColor: 'rgb(255,180,180)',
                        borderWidth: 2,
                        fill: false,
                        tension: 0,
                        pointHoverRadius: 0,
                    };

                    const chartCanvas = document.querySelector('#times');

                    new Chart(chartCanvas, {
                        type: 'line',
                        data: {
                            labels: threads,
                            datasets: [execution, install_exec, upperBound_exec, lowerBound_exec, upperBound_exec_install, lowerBound_exec_install]
                        },
                        options: {
                            scales: {
                                xAxes: [{
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Instancias usadas',
                                    },
                                }],
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Tiempo de ejecución (segundos)',
                                    },
                                }],
                            },
                        }
                    });
                })
                .catch(error => {
                    console.error(`Error para el hilo ${instance_name}:`, error);
                });
        }

        document.addEventListener("DOMContentLoaded", function () {
            fetchAndCreateChartTimes();
        });
    </script>


    <script>
        function fetchAndCreateChart() {
            const instance_name = "{{ execution_unique_name }}";
            return fetch('/p3co/data/costs/' + instance_name)
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`No se pudo obtener los datos para el hilo: ${instance_name}`);
                    }
                    return response.json();
                })
                .then(response => {
                    const threads = response.threads;

                    const urjc = {
                        label: "Coste de ejecución",
                        data: response.urjc,
                        borderColor: 'rgba(54, 162, 235)',
                        borderWidth: 2,
                    };

                    const urjc_installation = {
                        label: "Coste de ejecución e instalación",
                        data: response.urjc_installation,
                        borderColor: 'rgba(255, 162, 235)',
                        borderWidth: 2,
                    }

                    const chartCanvas = document.querySelector('#costs');

                    new Chart(chartCanvas, {
                        type: 'line',
                        data: {
                            labels: threads,
                            datasets: [urjc, urjc_installation],
                        },
                        options: {
                            scales: {
                                xAxes: [{
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Instancias usadas',
                                    },
                                }],
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Coste (Euros)',
                                    },
                                }],
                            },
                        }
                    });
                })
                .catch(error => {
                    console.error(`Error para el hilo ${instance_name}:`, error);
                });
        }

        document.addEventListener("DOMContentLoaded", function () {
            fetchAndCreateChart();
        });
    </script>
    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>