{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Últimas ejecuciones</title>
    <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles_navbar.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'styles_configuration.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">NOMBRE</a>
        <div id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'executions' %}">Últimas ejecuciones</a>
                </li>
            </ul>
        </div>
        <a class="selected" href="{% url 'configuration' %}">
            <img src="{% static 'config.png' %}" height="30" />
        </a>
    </nav>
    <main>


        <div class="row">
            <div class="col-3 data">
                <h2>Archivos de configuración</h2>
                <br>

                <ul>
                    <li>
                        {% if script_file_exists %}
                        <a href="{% url 'get_sh_conf_file' %}">{{ sh_file }}</a>
                        <br>
                        {% else %}
                        <p class="no_file">Cargar en el sistema el script de bash.</p>
                        {% endif %}
                    </li>

                    <li>
                        {% if yaml_file_exists %}
                        <a href="{% url 'get_yaml_conf_file' %}">{{ yaml_file }}</a>
                        <br>
                        {% else %}
                        <p class="no_file">Cargar en el sistema el archivo clouds.yaml.</p>
                        {% endif %}
                    </li>
                </ul>


            </div>
            <div class="col-9 form">
                <h2>Carga de archivos de configuración</h2>
                <p>Es necesario incluir algunos archivos para que el sistema funcione correctamente. Dichos archivos pueden
                    obtenerse desde la interfaz web de OpenStack.</p>
                <img id="openstack_files" src="{% static 'FicherosOpenStackClient.jpg' %}" width="60%">
                <form method="post" enctype="multipart/form-data" id="upload-form" class="form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Enviar">
                </form>
            </div>
        </div>

    </main>
    <footer>

    </footer>
</body>

</html>